<header class="background">
  <h1 class="headline mb-lg-2">Vorbereitung für die Abschlussprüfung</h1>
</header>
<nav class="navbar navbar-dark bg-dark">
  <button
    class="col-xs-12 col-sm-12 col-md-6 col-lg-2  mt-1 btn btn-secondary"
    type="submit" [routerLink]="['./']">
    Übersicht
  </button>
  <button
    class="col-xs-12 col-sm-12 col-md-6 col-lg-2  mt-1 btn btn-secondary"
    type="submit" [routerLink]="['./topics/Betriebswirtschaftslehre']">
    Betriebswirtschaftlehre
  </button>
  <button
    class="col-xs-12 col-sm-12 col-md-6 col-lg-2   mt-1 btn btn-secondary"
    type="submit" [routerLink]="['./topics/Allgemeiner Teil']">
    Allgemeiner Teil
  </button>
  <button
    class="col-xs-12 col-sm-12 col-md-6 col-lg-2  mt-1 btn btn-secondary"
    type="submit" [routerLink]="['./topics/Systemintegration']">
    Systemintegration
  </button>
  <button
    class="col-xs-12 col-sm-12 col-md-6 col-lg-2  mt-1 btn btn-secondary"
    type="submit" [routerLink]="['./topics/Anwendungsentwicklung']">
    Anwendungsentwicklung
  </button>
</nav>
