<div class="font-shadow">
  <div>
   <h5>
      "Erfolg ist die Fähigkeit, von einem Misserfolg zum anderen zu gehen, ohne seine Begeisterung zu verlieren"
     <br>**Winston Churchill**
    </h5>
  </div>
  <div>
    <button class="btn btn-primary select-button" (click)="selectInfo=!selectInfo">Erklärung</button>
    <button class="btn btn-primary select-button" (click)="isActivate=true">neue Karte</button>
  </div>
  <div>
  <div *ngIf="isActivate" class="label">
    <app-add-card (isActive)="isActivate=$event"></app-add-card>
  </div>
  <div *ngIf="selectInfo" style="margin-top: 2rem">
   Die Lernkartenstruktur ist so aufgebaut, dass du 5 verschiedene Level hast.
    Diese funktionieren wie der klassische Karteikasten aus der Grundschule.
   <p *ngIf="selectInfo">
     <br>
     - 3  richtige Antworten = Level 1<br>
     - 6  richtige Antworten = Level 2<br>
     - 9  richtige Antworten = Level 3<br>
     -12 richtige Antworten =  Level 4<br>
     -15 richtige Antworten =  Level 5<br>
   </p>
    <p *ngIf="selectInfo">
     Du kannst die Antwort auswählen, nachdem du dich für eine Lösung entschieden hast. Wenn du sie richtig hast, drücke
     den grünen Button, wenn nicht drücke den roten X Button.
    </p>
  </div>
  <div class="row">
      <div class="box" (click)="setLvl(1)">Level 1</div>
      <div class="box" (click)="setLvl(2)">Level 2</div>
      <div class="box" (click)="setLvl(3)">Level 3</div>
      <div class="box" (click)="setLvl(4)">Level 4</div>
      <div class="box" (click)="setLvl(5)">Level 5</div>
  </div>
  <div style="margin: 4rem auto 0 auto" class="row" *ngIf="learningCards$|async as cards">
    <div class="col-2 col-sm-2 col-md-2">
      <div class="button-sibling" (click)="beforeElementOnClick($event,cards)">
        <i class="fas fa-angle-double-left select-icon"> zurück</i>
      </div>
    </div>
      <app-learning-card class="col-5 col-sm-5 col-md-5" [card]="activeCard$|async"></app-learning-card>
    <div class="col-2 col-sm-2 col-md-2">
      <div class="button-sibling" (click)="nextElementOnClick($event,cards)">
        <i class="fas fa-angle-double-right select-icon"> weiter</i>
      </div>
    </div>
    </div>
  </div>
</div>
