<form class="login" [formGroup]="loginForm">
  <h2>Login</h2>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" formControlName="email">
    <div id="emailHelp" class="form-text" *ngIf="!loginForm.valid">Ich brauche zumindest die Mail von dir</div>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" formControlName="password">
    <div  class="form-text" *ngIf="!loginForm.valid">Ich brauche auch ein Password</div>
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="!loginForm.valid" [routerLink]="['topics']">Login</button>
  <button type="submit" class="btn btn-primary" [routerLink]="['register']" >registrieren</button>
</form>
